@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    -webkit-tap-highlight-color: transparent;
}

.setbuget-btn{
    
    -moz-appearance: textfield;
     
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
